html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}













body{
  height: 300vh;
}
header{
  grid-area: header;
  background-color: pink;
}
#logga{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3%;
}
nav{
  grid-area: nav;
  background-color: blue;
}


main{
  border-width: medium;
  border-bottom: 3px;
  border-top: 0px;
  border-left: 3px;
  border-right: 3px;
  border-style: solid;
  grid-area: main;
}

#glassbar{
  position: absolute;
}



#nyhet1rubrik{
  font-size: 80px;
  font-family:'Tilt Warp', cursive;
  position: relative;
  text-align: center;
  top: 320px;
  color: black;
}

a{
  text-decoration: none;
}
#länkruta{
  width: 100%;
  height: 100%;
}

#glasstext{
  font-size: 30px;
  position: relative;
  top: 400px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: black;
}

.nyhet2{
  grid-area: två;
  background-color: yellow;
}
.nyhet3{
  grid-area: tre;
  background-color: green;
}
footer{
  grid-area: footer;
}

#wrapper{
  height: 100%;
  width: 100%;
  display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 2% 1.5% 25% 25% 25% 21.5%;
grid-template-areas:
"header header header header header"
"nav nav nav nav nav"
". main main main ."
". två två två ."
". tre tre tre ."
"footer footer footer footer footer";
}
