html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}













body{
  height: 300vh;
}
header{
  grid-area: header;

}
#logga{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3%;
}
nav{
  grid-area: nav;
  background-color: blue;
  color: black;
}
.navbar-brand{
  color: black;
}



main{
  border-width: medium;
  border-bottom: 3px;
  border-top: 0px;
  border-left: 3px;
  border-right: 3px;
  border-style: solid;
  grid-area: main;
}

#glassbar{
  position: absolute;
  
}

p{
  font-family: 'Tilt Warp', cursive;
}

p::first-letter {
  font-size: 45px;
  font-weight: bold;
  color: black;
}

#nyhet1rubrik{
  font-size: 80px;
  font-family:'Tilt Warp', cursive;
  position: relative;
  text-align: center;
  top: 320px;
  color: black;

}



#glasstext{
  font-size: 30px;
  position: relative;
  top: 400px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: black;
}

.nyhet2{
  grid-area: två;
}
.nyhet2,
.nyhet2:visited {
  grid-area: två;
  border-width: medium;
    border-bottom: 3px;
    border-top: 0px;
    border-left: 3px;
    border-right: 3px;
    border-style: solid;
  text-decoration: none;
  color: black;
}



#capy {
  position: absolute;
  left: 58%;
  top: 108%;
}

#capytitle {
  position: relative;
  font-size: 53px;
  top: 7%;
  display: flex;
  justify-content: space-around;
  font-family: 'Tilt Warp', cursive;
}

#capypretext {
  position: absolute;
  font-size: 35px;
  width: 500px;
  top: 108%;
  right: 47%;
}
.nyhet3{
  grid-area: tre;
border-width: medium;
  border-bottom: 3px;
  border-top: 0px;
  border-left: 3px;
  border-right: 3px;
  border-style: solid;
}
#rubriknyhet3 {
  top: 7%;
  font-size: 60px;
  display: flex;
  justify-content: space-around;
  position: relative;
  font-family: 'Tilt Warp', cursive;
}


#textnyhet3 {
  margin-top: 6.5%;
  font-size: 30px;
  position: absolute;
  
  text-align: left;
  left: 50%;
}

#Dogecoin {
  position: relative;
  top: 20%;
  left: 5%;
  display: flex;


}
footer{
  grid-area: footer;
}
#loggbox{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  

}

#markeringiinfotext{
color: blue;

}


#inforuta{
  position: absolute;
  width: 60%;
  height: 50%;
  background-color: antiquewhite;
}
#footerrubrik{
  font-size: 50px;
    font-family: 'Tilt Warp', cursive;
    position: absolute;
    text-align: left;
    left: 5%;
    top: 5%;
    color: black;
}
#footertext{
position: absolute;
font-size: 25px;
text-align: left;
line-height: 45px;
  left: 5%;
  top: 25%;
  margin-right: 5%;
  color: black;
font-family: 'Tilt Warp', cursive;

}
#logga2{
      display: block;
      margin-left: 80%;
      margin-right: auto;
      margin-top: 2%;
}
#instagram {
  background: url("../img/css_sprites.png") -10px -10px;
  width: 70px;
  height: 70px;
position: relative;
top: 85%;
 
}

#twitter {
  background: url("../img/css_sprites.png") -80px -10px;
  width: 70px;
    height: 70px;
    position: relative;
      top: 85%;
}

#wrapper{
  height: 100%;
  width: 100%;
  display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 2% 2% 25% 25% 25% 21.5%;
grid-template-areas:
"header header header header header"
"nav nav nav nav nav"
". main main main ."
". två två två ."
". tre tre tre ."
"footer footer footer footer footer";
}
